body {
  color: #444;
  font-family: monospace, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.7;
  padding: 0em;
  margin: auto;
  max-width: 100%;
  background: #fefefe;
}
h1, h2, h3, h4, h5, h6 {
  color: #111;
  color: #268BD2;
  line-height: 100%;
  margin-top: 1em;
  font-weight: normal;
}

h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  border-bottom: #111 solid 1px;
  page-break-before: always;
}
h1:first-of-type {
  page-break-before: unset;
  page-break-before: avoid;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}  h1, h2, h3 {
    page-break-after: avoid;
  }

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}
a {
  color: rgb(226, 148, 4);
  color: #0645ad;
  text-decoration: none;
}
a[href]:after {
  content: " (" attr(href) ")";
  color: #0645ad;
  font-size: 9px;
}
p {
  margin: 1em 0;
}
li {
  list-style-type: none;
}
li:before { 
  margin-left: -15px;
  margin-right: 5px;
  content: "=";
  color: rgb(226, 148, 4);
};

img {
  max-width: 100%;
}
code {
    color: #000;
    padding: 1px 4px;
    background-color: #EEE;
    border-radius: 5px;
}
.sourceCode code {
    background-color:unset;
}